@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
  }
  #navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
  }
  #navbar li a:hover,
  #navbar li a.active{
    color: #008178;
  }
  #navbar li a.active::after,
  #navbar li a:hover::after{
    content:'';
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  #section-header{
    background-image: url('img/vanilla.jpg');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #section-header h4{
     padding-bottom: 15px;
  }
  #section-header h1{
    color: #088178;
  }
  #section-header button{
    background-image: url("img/button.png");
   background-color: transparent;
   color: #088178;
   border: 0px;
   padding: 14px 80px 14px 65px;
   background-repeat: no-repeat;
   cursor: pointer;
   font-weight: 700;
   font-size: 15px;
  }
  
  @media (max-width:799px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300vh;
      background-color: #E3E6F3;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
      transition: 0.3s;
    }
    #navbar .active{
      right: 0px;
    }
    #navbar li{
      margin-bottom: 25px;
  
    }
}
@media(max-width:447px){
    #header {
      padding: 10px 30px;
    }
}